html{
    height: 100vh;
}
body{
    height: 100vh;
}
.post-list{
    margin-top: 2rem;
    list-style: none;
}
.article-textarea{
    resize: none;
}
.mypost-list{
    display: none;
    margin-top: 2rem;
    list-style: none;
}
.post-btn-group #selected-btn{
    background-color: #0275d8;
    color: white;
}